body.main{
	border-color: white;
	border-style: double;
	margin-top: 20px;
	margin-bottom: 500px;
	margin-left: 80px;
	margin-right: 50px;
	background-color: black;
}


h1{
		color: white;
		text-align: center;
		background-color: blue;
}

.main{
	text-align: center;
	background-color: black;
	color: red;
}
h1.main{
	text-align: center;
	background-color: green;
	color: white;
}

body{
	background-color: black;
}
p{
	font-family: italic;
	color: yellow;
}
#submit-btn{
	color: red;
	background-color: yellow;
}
hr.main{
	background-color: red;
}
.l{
	background-color: red;
}
p.main{
	background-color: white;
	text-align: right;
	border-style: dotted;
	border-color: green;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px; 
}
form.main{
	margin-top: 25px;
	margin-left: 175px;
	margin-right: 205px;
	margin-bottom: 75px;
	border-color: white;
	border-style: dotted;
}
div p {
	background-color:green;
}
div input {
	background-color: aqua;
	color: red;
}