body.forget{
	background-color: aqua;
	text-align: center;
	margin-top: 2px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 500px;
	border-color: yellow;
	border-style: double;
}

h1.forget{
	background-color: green;
	color: red;
	text-align: center;
}
hr.forget{
	background-color: red;
}

div form {
	background-color: white;
	color: blue;
	margin-top: 10px;
	margin-left: 92px;
	margin-right: 92px;
	margin-bottom: 50px;
}

.u{
	background-color: skyblue;
	font-size: 25px;
	color: green;
}

div input{
	background-color: yellow;
	color: red;
}


div p {
	background-color: white;
	margin-left: 90px;
	margin-right: 90px;
	margin-top: 15px;
	margin-bottom: 30px;
}

div a{
	background-color: white;
}

a:link{
	color:red;
}
a:visited{
	color: yellow;
}
a.highlight:hover{
	color: red;
	background-color: red;
}
a:active{
	color: red;
}
div:hover{
	background-color: blue;
}